[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	email = stmbhardwaj@gmail.com
	name = Satyam Bhardwaj

[includeIf "gitdir:~/Work/redhat/"]
	path = ~/dotfiles/git/redhat/.gitconfig
[init]
	defaultBranch = main
